
.text p, h1, h2, h3, h4, li, ol, a {
    color: #FFFFFF; 
    font-family: 'Lato', sans-serif;
}

.block {
	background-color: #FFFFFF;
	height: 50 px;
	width: 50 px;
	border: 2px solid #000000;
    border-radius: 25px;

}

.selected {
	background-color: #FFFFFF;
	height: 50 px;
	width: 50 px;
	border: 2px solid #0000FF;
    border-radius: 25px;
}

.wrongSolution {
	//flat red
	background-color: #0000FF;
}

.rightSolution {
	//flat green
	background-color: #0000FF;
}
