doctype 5
html
	head
		
		link(rel='stylesheet', href='/css/foundation.css')
		link(rel='stylesheet', href='/css/style.css')

		
		script(src="/js/vendor/jquery.js")
		script(src="/js/game.js")


	body(style="background-image: url('/img/space.jpg');")
		block content